#post-title {
  font-size: 50px;
}
#subtitle {
  font-size: 18px;
}

@media (min-width: 768px) {
  #post-title {
    font-size: 122px;
  }
  #subtitle {
    font-size: 28px;
  }

  #post-title-container {
    margin-bottom: 151px;
  }
}
