article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
html,button,input,select,textarea{font-family:sans-serif;}
body{margin:0;}
a:focus{outline:thin dotted;}
a:hover,a:active{outline:0;}
h1{font-size:2em;margin:0.67em 0;}
h2{font-size:1.5em;margin:0.83em 0;}
h3{font-size:1.17em;margin:1em 0;}
h4{font-size:1em;margin:1.33em 0;}
h5{font-size:0.83em;margin:1.67em 0;}
h6{font-size:0.75em;margin:2.33em 0;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
blockquote{margin:1em 40px;}
dfn{font-style:italic;}
mark{background:#ff0;color:#000;}
p,pre{margin:1em 0;}
pre,code,kbd,samp{font-family:monospace, serif;_font-family:'courier new',monospace;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:none;}
q:before,q:after{content:'';content:none;}
small{font-size:75%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
dl,menu,ol,ul{margin:1em 0;}
dd{margin:0 0 0 40px;}
menu,ol,ul{padding:0 0 0 40px;}
nav ul,nav ol{list-style:none;list-style-image:none;}
img{border:0;-ms-interpolation-mode:bicubic;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
form{margin:0;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible;}
button[disabled],input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
.ir{display:block;text-indent:-999em;overflow:hidden;background-repeat:no-repeat;text-align:left;direction:ltr;}
.hidden{display:none;visibility:hidden;}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto;}
.invisible{visibility:hidden;}
.clearfix:before,.clearfix:after{content:"\0020";display:block;height:0;overflow:hidden;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}
@media print{*{background:transparent !important;color:black !important;text-shadow:none !important;filter:none !important;-ms-filter:none !important;} a,a:visited{color:#444 !important;text-decoration:underline;} a[href]:after{content:" (" attr(href) ")";} abbr[title]:after{content:" (" attr(title) ")";} .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:"";} pre,blockquote{border:1px solid #999;page-break-inside:avoid;} thead{display:table-header-group;} tr,img{page-break-inside:avoid;} img{max-width:100%;} @page {margin:0.5cm;}p,h2,h3{orphans:3;widows:3;} h2,h3{page-break-after:avoid;}}::-moz-selection{background:#333;color:#fff;text-shadow:none;}
::selection{background:#333;color:#fff;text-shadow:none;}
a:link{-webkit-tap-highlight-color:#333;}
body{background:#e0e0e0;color:#333;text-rendering:optimizelegibility;}
a{color:#333;text-decoration:none;font-family:"museo",serif;font-weight:500;-webkit-transition:color 0.2s ease-in-out;-moz-transition:color 0.2s ease-in-out;transition:color 0.2s ease-in-out;}
img{max-width:100%;}
.container{width:96%;padding:0 2%;margin-left:auto;margin-right:auto;max-width:1000px;}
header#page-header{position:absolute;top:0;z-index:50;width:100%;padding:4px 0;background:#333;border-bottom:1px solid #fff;}
h1#logo{display:block;text-indent:-999em;overflow:hidden;background-repeat:no-repeat;text-align:left;direction:ltr;background:transparent url('http://assets.manikrathee.com/blog/_global/images/logo.png') no-repeat 50% 50%;height:53px;width:52px;margin:0 20px 0 0;padding:0;float:left;}
h1#title{font-family:"proxima-nova",sans-serif;font-weight:300;line-height:1;font-size:21px;margin-top:4px;color:#fff;}
h2{margin:-7px 0 0 0;}h2 a{color:#fff;text-decoration:none;font-size:14px;font-weight:normal;}h2 a:hover{text-decoration:underline;}
article{width:100%;}
#feature{width:100%;max-width:100%;margin-top:68px;}#feature img{width:100%;max-width:100%;}
#post-title-container{position:relative;z-index:50;width:96%;max-width:740px;margin:-205px auto 50px auto;color:#fff;line-height:1;background:transparent url('http://assets.manikrathee.com/blog/_global/images/header-bg-dark.png') repeat 0 0;padding:4px;}
#post-title-logo{float:left;margin:0 20px;}
#post-title{font-family:"museo-slab",serif;font-weight:900;letter-spacing:2px;color:#fff;margin:0;font-size:24px;text-align:center;}
#subtitle,#date{font-family:"proxima-nova",serif;font-size:26px;font-weight:300;display:block;text-align:center;margin:-5px 0 0 0;}
#date{font-style:italic;font-size:18px;margin-top:6px;}
#body{position:relative;z-index:20;background:#f5f5f5;width:650px;max-width:92%;margin-left:auto;margin-right:auto;padding:10px 4%;line-height:1.6;border-radius:3px;-webkit-transition:color 0.2s ease-in-out;-moz-transition:color 0.2s ease-in-out;transition:color 0.2s ease-in-out;}#body:hover a{color:#000;}#body:hover a:hover{color:#999;}
#body ul#loader{padding:0;margin:0;}#body ul#loader li{width:100%;list-style-type:none;}#body ul#loader li img{width:100%;}
h4{font-family:"proxima-nova",sans-serif;font-size:24px;margin:0 0 10px 0;font-weight:300;}
p{font-family:"museo",serif;font-size:16px;font-weight:300;}p.intro{font-family:"proxima-nova",sans-serif;font-size:20px;margin:30px 0 40px 0;line-height:1.3;}
ul#social{display:none;}
footer{background:#fff;border-top:1px solid #e0e0e0;padding:10px 0;text-align:center;font-family:"proxima-nova",sans-serif;font-weight:300;}footer p{font-size:13px;}
@media screen and (min-width:600px){#post-title-container{padding:0;background:none;}}.oldie header#page-header{position:fixed;background:transparent url('http://assets.manikrathee.com/blog/_global/images/header-bg-dark.png') repeat 0 0;border:none;}
.oldie #feature{min-height:400px;margin-top:0;}
.oldie #post-title-container{padding:0;background:none;margin:-308px auto 140px auto;}
.oldie #post-title{font-size:36px;}
.oldie #body{max-width:92%;padding:10px 50px;}
.oldie ul#social{display:block;width:380px;margin:30px auto 15px;padding:0;overflow:auto;zoom:1;opacity:0.2;-webkit-transition:opacity 0.25s ease-in-out;-moz-transition:opacity 0.25s ease-in-out;transition:opacity 0.25s ease-in-out;}.oldie ul#social:hover{opacity:1;}
.oldie ul#social li{list-style-type:none;float:left;display:block;}
.oldie ul#social #tweet{margin:4px 0 0 25px;}
.oldie ul#social #follow{margin:5px 0 0 0;}
.oldie footer{border:none;}
@media (min-width:768px){header#page-header{position:fixed;background:transparent url('http://assets.manikrathee.com/blog/_global/images/header-bg-dark.png') repeat 0 0;border:none;} #feature{min-height:400px;margin-top:0;} #post-title-container{padding:0;background:none;margin:-308px auto 140px auto;} #post-title{font-size:36px;} #body{max-width:92%;padding:10px 50px;} ul#social{display:block;width:380px;margin:30px auto 15px;padding:0;overflow:auto;zoom:1;opacity:0.2;-webkit-transition:opacity 0.25s ease-in-out;-moz-transition:opacity 0.25s ease-in-out;transition:opacity 0.25s ease-in-out;}ul#social:hover{opacity:1;} ul#social li{list-style-type:none;float:left;display:block;} ul#social #tweet{margin:4px 0 0 25px;} ul#social #follow{margin:5px 0 0 0;} footer{border:none;}}@media (min-width:1330px){blockquote{position:absolute;left:-280px;width:250px;background:#fff;padding:10px;border-radius:6px;margin:0;font-size:14px;font-style:italic;line-height:1.4;font-family:"museo",serif;}}@media only screen and (-webkit-min-device-pixel-ratio:2){h1#logo{background:transparent url('http://assets.manikrathee.com/blog/_global/images/logo@2x.png') no-repeat 50% 50%;-webkit-background-size:52px 52px;}}.ie7 .container{width:960px;padding:0 2%;margin-left:auto;margin-right:auto;}
